*::before,
*,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.user {
  text-align: center;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 15px;
}

.login h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #555;
}

.login form {
  margin-top: 30px;
  padding: 30px;
  background: #f2f2f2;
  border-radius: 10px;
}

.login form input[type='text'],
.login form input[type='email'],
.login form input[type='password'] {
  width: 100%;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 300;
  color: #777;
}

.login form button {
  width: 100%;
  padding: 15px;
  background: #3c8dbc;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 300;
  margin-bottom: 10px;
  cursor: pointer;
}

.login .links {
  text-align: center;
  margin-top: 15px;
}

.links span {
  font-size: 13px;
  font-weight: 300;
  color: #555;
}

.links a {
  display: block;
  color: #3c8dbc;
  text-decoration: none;
}

/* .links a:not(:first-child) {
  margin-left: 25px;
} */
